
.product-qty-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.9rem;
    margin-left: 20px;
}

.product-qty-container button {
    width: 40px;
    background-color: lightgray;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
}

.product-qty-container span{
    width:50px;
    font-size: 1rem;
    text-align: center;
}

.btn-Add{
    background-color: lightgray; 
    padding: 0.5rem; 
    border-radius: 0.5rem;
    font-size: 1rem; 
    /* display: flex;  */
    gap: 0.5rem; 
    margin-top: 0.7rem;
    width: 200px;
    margin-left: 20px;
}

.description-style{
    font-size: 1.5rem;
    margin-left: 20px;
    color: grey;
}